.question-form-btn {
  display: block;
  width: 112px;
  padding: 5px;
  text-decoration: none;
  color: black;
  border: 1px solid;
  border-radius: 5px;
  background-color: #ebe9e9;
  margin: 0 30px 0 auto;
}

.questions {
  height: auto;
  width: 80vw;
  border: 1px solid;
  border-radius: 5px;
  margin: 20px auto;
}

.question-title-div {
  border-bottom: 1px solid;
  background-color: lightgray;
  height: auto;
  display: flex;
}

.question-headline {
  white-space: nowrap;
  padding: 10px 0 0 10px;
}

.question-title {
  padding: 10px 10px 10px 0;
}

.question-main {
  height: auto;
  width: 95%;
  border: 1px solid;
  border-radius: 5px;
  margin: 10px auto;
}

.question-contents {
  display: flex;
}

.question-user {
  padding: 10px 10px 0 0;
}

.question-content {
  padding: 10px 10px 0 0;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
}

.question-link {
  text-decoration: none;
  color: black;
}