.btn {
  display: flex;
  width: 15vw;
  margin: 0 0 0 auto;
}

.edit-btn {
  width: 32px;
  display: block;
  text-decoration: none;
  color: black;
  background-color: #ebe9e9;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
}

.destroy-btn {
  width: 32px;
  display: block;
  text-decoration: none;
  color: black;
  background-color: #ebe9e9;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  margin-left: 5px;
}



.questions-show {
  height: auto;
  width: 80vw;
  border: 1px solid;
  border-radius: 5px;
  margin: 20px auto;
}

.question-title-div-show {
  border-bottom: 1px solid;
  background-color: lightgray;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.question-headline-show {
  white-space: nowrap;
  padding: 10px 0 0 10px;
}

.question-genre-show {
  padding: 10px 10px 10px 0;
}

.question-title-show {
  padding: 10px 0 10px 10px;
}

.question-main-show {
  height: 78%;
  width: 95%;
  border: 1px solid;
  border-radius: 5px;
  margin: 10px auto;
}

.question-contents-show {
  display: flex;
}

.question-user-show {
  padding: 10px 10px 0 0;
}

.question-content-show {
  padding: 10px 10px 10px 0;
}

.comment-main {
  height: auto;
  width: 80vw;
  margin: 0 auto;
}

.text-form {
  display: block;
  width: 80vw;
}

.comment-submit-btn {
  display: block;
  width: 80vw;
}

.comment {
  font-size: 18px;
}